<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BestSpeech Voice Extension</string>
	<key>CFBundleExecutable</key>
	<string>BestSpeechVoiceExtension</string>
	<key>CFBundleIdentifier</key>
	<string>com.bestspeech.VoiceExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BestSpeechVoiceExtension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>description</key>
					<string>BestSpeech Synthesizer</string>
					<key>factoryFunction</key>
					<string>BestSpeechVoiceExtension.SpeechSynthesizerFactory</string>
					<key>manufacturer</key>
					<string>Bspc</string>
					<key>name</key>
					<string>BestSpeech: Voice</string>
					<key>sandboxSafe</key>
					<true/>
					<key>subtype</key>
					<string>b32t</string>
					<key>tags</key>
					<array>
						<string>Speech Synthesizer</string>
					</array>
					<key>type</key>
					<string>ausp</string>
					<key>version</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit</string>
		<key>NSExtensionPrincipalClass</key>
		<string>BestSpeechVoiceExtension.SpeechSynthesizerFactory</string>
	</dict>
</dict>
</plist>
